title = "Post"
url = "/post/:slug"
layout = "default"
meta_title = "Post"
meta_description = "Post"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
==
{% set post = blogPost.post %}

<div class="content"></div>

{% if post.featured_images.count %}
    {% for image in post.featured_images %}
        <header class="masthead" style="background-image: url({{ image.path }})"
                data-src="{{ image.filename }}"
                alt="{{ image.description }}">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-heading">
                            <h1>{{ post.title }}</h1>
                            <h2 class="subheading">{{ post.summary|raw }}</h2>
                            <span class="meta">Posted by
                      <a href="#">Start Bootstrap</a>
                      on {{ post.published_at|date('M d, Y') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endfor %}
{% endif %}


<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="info">
                    Posted
                    {% if post.categories.count %} in
                        {% for category in post.categories %}
                            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                    on {{ post.published_at|date('M d, Y') }}
                </p>
                {{ post.content_html|raw }}
                {% for image in post.featured_images %}
                    <p class="text-center">
                        <img
                            data-src="{{ image.filename }}"
                            src="{{ image.path }}"
                            alt="{{ image.description }}"
                            style="max-width: 100%" />
                            {{ image.description }}
                    </p>
                {% endfor %}
                <p>Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
            </div>
        </div>
    </div>
</article>
